@import './home-page/list-product/list-product', './home-page/checkout/checkout', './home-page/carts/carts', './home-page/produk-detail/product-detail';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h2 {
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.bny-warning {
  background-color: #fdd13a;
}

.bny-menu-bar {
  .nav-item {

    .nav-link {
      margin-top: 13px;
      padding-bottom: 1px;
      padding-top: 1px;
    }
  }

  .navbar-nav {
    justify-content: start;
    ;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  .active {
    font-weight: 500;
    color: red !important;

    &:active {
      color: black !important;
    }
  }
}

.bny-menu-inline {

  .sub-notification {
    position: relative;

    span {
      position: absolute;
      top: 0px;
      right: 0;
      background-color: red;
      color: white;
      padding: 3px;
      border-radius: 50%;
      font-size: small;
      line-height: 0.6;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }

  .bny-sub-register {
    .btn {
      padding-top: 0px;
      padding-bottom: 0px;

      &:hover {
        opacity: .7;
      }

      &:focus {
        box-shadow: none !important;
      }
    }
  }

  .bny-sub-login {
    .btn {
      padding-top: 0px;
      padding-bottom: 0px;

      &:hover {
        opacity: .7;
      }

      &:focus {
        box-shadow: none !important;
      }
    }
  }
}

.search-produk {
  .form-control {
    padding: .495rem .75rem;
    border-radius: 40px;
  }

  .input-group-text {
    padding: .495rem .75rem;
    border-radius: 40px;
    overflow: hidden;
  }


}



// ========================= Bny Category Home page =========================
#bny-category {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 3px;

  .bny-grid-category {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, max-content);
    // gap: px;
    justify-content: space-between;
    margin-top: 4px;
  }

  .sec-center {
    position: relative;
    max-width: 100%;
    z-index: 200;
  }

  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
    opacity: 0;
    pointer-events: none;
  }

  .light-back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    overflow: hidden;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    height: 100%;
    width: 100%;
    transition: all 200ms linear;
    opacity: 0;
  }

  .dropdown:checked+label,
  .dropdown:not(:checked)+label {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    transition: all 200ms linear;
    border-radius: 4px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #102770;
    box-shadow: 0 12px 35px 0 rgba(255, 235, 167, .15);
  }

  .dropdown:checked+label:before,
  .dropdown:not(:checked)+label:before {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: auto;
    pointer-events: none;
  }

  .dropdown:checked+label:before {
    pointer-events: auto;
  }

  .dropdown:not(:checked)+label .fas {
    font-size: 12px;
    margin-left: 7px;
    transition: transform 200ms linear;
  }

  .dropdown:checked+label .fas {
    transform: rotate(180deg);
    font-size: 12px;
    margin-left: 10px;
    transition: transform 200ms linear;
  }

  .section-dropdown {

    position: absolute;
    padding: 5px;
    background-color: #111;
    top: 40px;
    left: 0;
    width: max-content;
    border-radius: 4px;
    display: block;
    box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
    transition: all 200ms linear;
  }

  .dropdown:checked~.section-dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    width: max-content;
  }

  .section-dropdown:before {
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 20px;
    content: '';
    display: block;
    z-index: 1;
  }

  .section-dropdown:after {
    position: absolute;
    top: -7px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #111;
    content: '';
    display: block;
    z-index: 2;
    transition: all 200ms linear;
  }


  a {
    position: relative;
    color: #fff;
    transition: all 200ms linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
    padding: 5px 0;
    padding-left: 20px;
    padding-right: 15px;
    margin: 2px 0;
    text-align: left;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    -ms-flex-pack: distribute;
  }

  a:hover {
    color: #102770;
    background-color: #ffeba7;
  }

  a .fas {
    font-size: 12px;
    margin-left: 10px;
  }

  .dropdown-sub:checked+label,
  .dropdown-sub:not(:checked)+label {
    position: relative;
    color: #fff;
    transition: all 200ms linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 2px;
    padding: 5px 0;
    padding-left: 20px;
    padding-right: 15px;
    text-align: left;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
  }

  .dropdown-sub:checked+label .fas,
  .dropdown-sub:not(:checked)+label .fas {
    font-size: 14px;
  }

  .dropdown-sub:not(:checked)+label .fas {
    transition: transform 200ms linear;
  }

  .dropdown-sub:checked+label .fas {
    transform: rotate(135deg);
    transition: transform 200ms linear;
  }

  .dropdown-sub:checked+label:hover,
  .dropdown-sub:not(:checked)+label:hover {
    color: #102770;
    background-color: #ffeba7;
  }


  .section-dropdown-sub {
    position: relative;
    display: block;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    max-height: 0;
    padding-left: 10px;
    padding-right: 3px;
    overflow: hidden;
    transition: all 200ms linear;
  }

  .dropdown-sub:checked~.section-dropdown-sub {
    pointer-events: auto;
    opacity: 1;
    max-height: 999px;
  }

  .section-dropdown-sub a {
    font-size: 14px;
  }

  .section-dropdown-sub a .fas {
    font-size: 14px;
  }

  .logo {
    position: fixed;
    top: 50px;
    left: 40px;
    display: block;
    z-index: 11000000;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    transition: all 250ms linear;
  }

  .logo:hover {
    background-color: transparent;
  }

  .logo img {
    height: 26px;
    width: auto;
    display: block;
    transition: all 200ms linear;
  }


}

.bny-navbar-mobile {
  .wrapper {
    position: fixed;
    top: 0;
    /*left: -100%;*/
    left: -100%;
    height: 100%;
    z-index: 3;
    width: 100%;
    background: white;
    transition: all 0.6s ease-in-out;

    .bny-menu-content {

      a {
        font-size: 14px;
        font-style: normal;
        line-height: 20px;
        display: block;
        text-decoration: none;
        color: #212529;
        padding: 15px 20px;

      }

      .separator-menu-mobile {
        border-top: 1px solid #adb5bd;
      }

      .icon-link-mobile {
        a {
          padding: 12px 20px;

          i {
            margin-right: 7px;
            opacity: .6;
          }

          &:hover {
            i {
              opacity: 1;
            }
          }
        }
      }

      .need-help {
        margin-top: 15px;

        .title-need-help {
          font-size: 14px;
          font-style: normal;
          line-height: 20px;
          color: #1e1e1e;
          font-weight: 500;
          padding: 0px 20px;
        }

        .circle-icon-help-menu {
          padding: 15px 20px;
          display: flex;


          a {
            margin-right: 10px;
            width: 33px;
            height: 33px;
            color: white;
            border-radius: 50%;
            text-align: center;
            line-height: 15px;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .phone {
            background-color: #da1e28;
          }

          .whatsApp {
            background-color: #28a745;
          }

          .mail {
            background-color: #0062ff;
          }
        }

        .shorcut-menu-link-help {
          padding: 0px 0px 20px 0px;

          a {
            font-size: 16px;
            font-weight: normal;
            text-decoration: none;
            margin-top: 13px;
            padding: 0 20px;
          }
        }
      }
    }
  }

  #active:checked~.wrapper {
    /*left: 0;*/
    left: 0;
  }

  .menu-btn {
    position: absolute;
    z-index: 4;
    top: 20px;
    left: 0;
    height: 18px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    font-size: 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .menu-btn:before {
    transform: translateY(-8px);
  }

  .menu-btn:after {
    transform: translateY(8px);
  }


  .close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
  }

  /* closing animation */
  #active:checked+.menu-btn span {
    transform: scaleX(0);
  }

  #active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: black;
  }

  #active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: black;
  }

  input[type="checkbox"] {
    display: none;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
  }

  .content .title {
    font-size: 40px;
    font-weight: 700;
  }

  .content p {
    font-size: 35px;
    font-weight: 600;
  }

  #active:checked~.wrapper ul li a {
    opacity: 1;
  }

  .wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
  }

  #active:checked~.wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
    /* easeOutBackを緩めた感じ */
    transition-delay: .6s;
    transform: translateX(-100px);
  }

}

.bny-navbar-mobile {
  display: none;
}

// SECTION BANNER LARGE BUNAYYA
.bny-banner-large {
  margin-top: 20px;

  .carousel {
    .carousel-item {
      img {

        max-height: 360px;
      }

      // max-height: 331px;
    }

    .carousel-indicators {
      display: flex;

      align-items: center;
      margin-right: 0px;
      margin-left: 10px;
      margin-bottom: 0;
      justify-content: center;
      left: 0;

      [data-bs-target] {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }

    .carousel-inner {
      border-radius: 10px;
      overflow: hidden;
    }

    .carousel-control-prev {
      left: 0;
      opacity: 1;
      background-color: white;
      transition: all .5s ease-in;
      height: 40px;
      padding: 5px;
      width: 35px;
      top: 50%;
      border-radius: 0px 3px 3px 0px;
      transform: translateY(-50%);

      .carousel-control-prev-icon {
        filter: invert(1);
        width: 25px;
        height: 22px;
      }
    }

    .carousel-control-next {
      right: 0;
      opacity: 1;
      background-color: white;
      transition: all .5s ease-in;
      height: 40px;
      padding: 5px;
      width: 35px;
      border-radius: 3px 0px 0px 3px;
      top: 50%;
      transform: translateY(-50%);

      .carousel-control-next-icon {
        filter: invert(1);
        width: 25px;
        height: 22px;
      }
    }
  }

  .banner-small {
    width: 100%;
    // height: 100%;

    .large-poster {
      // max-height: 46vh;
      height: 170px;
      margin-bottom: 20px;
    }

    .small-poster {
      max-height: 20vh;
      height: auto;

    }

    img {
      width: 100%;
      background-size: cover;
      object-fit: cover;
      border-radius: 10px;

    }
  }
}

.link-lihat-semua-koleksi {
  margin-bottom: 0.5rem;
  text-decoration: underline !important;
  display: block;

  i {
    font-size: 11px;
  }
}

// Section banner Smamll bunayya
.bny-banner-promo-small {
  .link-lihat-semua-koleksi {
    margin-bottom: 0.5rem;
    display: block;
  }
}



// SERVUCES CARD '
.bny-card-services {
  margin-top: 15px;
}


// ALL PRODUK
.all-product {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .col-xl-3 {
    display: flex;
  }

  .card.card-portrait {
    margin-bottom: 20px;
    box-shadow: #31353b1f 0px 1px 6px 0px;
    border-radius: 9px;
    overflow: hidden;
    max-height: 400px;
    position: relative;
    height: auto;

    .sale-percent-wrapper {
      position: absolute;
      top: 10px;
      right: 0;
      z-index: 7;

      .sale_percent {
        background: #d62237;
        font-weight: 700;
        color: #fff;
        width: max-content;
        height: max-content;
        padding: 5px 10px 5px 15px;
        border-radius: 40px 0px 0px 40px;
        text-align: center;
      }
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      background-size: cover;
      background-position: center;
    }

    .card-body {
      padding: 8px;

      h5 {
        margin-bottom: 4px;
        font-size: 0.86rem;
        color: rgba(49, 53, 59, 0.96);
        max-width: 100%;
        max-height: 100%;
        text-overflow: ellipsis;
        word-break: break-all;
        overflow: hidden;
        white-space: pre-wrap;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .card-price {
        margin-bottom: 4px;
        color: rgba(49, 53, 59, 0.96);
        opacity: 1;
        font-size: 1rem;
        font-weight: bold;
        align-items: flex-end;
        line-height: 1.43;
      }

      p.card-price.corret-price {
        color: grey !important;
        text-decoration: line-through;
        font-size: 13px !important;
        font-weight: 400 !important;
      }

      .card-discount {
        display: flex;
        margin-bottom: 4px;
        width: 100%;
        flex-direction: column-reverse;

        .card-discount-title {
          width: 30px;
          height: 20px;
          border-radius: 3px;
          background-color: #ffeaef;
          font-size: 0.714286rem;
          font-weight: bold;
          color: #ff5c84;
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          display: none;
        }

        .parent-badge {
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          .card-badge-title {
            display: block;
            height: max-content;
            margin-top: 3px;
            margin-right: 3px;
            border-radius: 3px;
            background-color: var(--primary-color);
            font-size: 0.614286rem;
            font-weight: bold;
            color: white;
            text-align: center;
            padding: 3px;
          }
        }

        .card-discount-potongan-harga {
          font-size: 0.714286rem;
          color: rgba(49, 53, 59, 0.44);
          text-decoration: line-through;
          max-width: 100px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0px 0px 0px 4px;
        }
      }

      // end card discount
      .card-lokasi-toko {
        a {
          display: flex;
          align-items: center;
          color: rgba(49, 53, 59, 0.54);
          font-size: 0.85rem;
          line-height: 11px;
          margin-top: 7px;
          margin-bottom: 7px;
          justify-content: center;
          text-decoration: none;

          .card-lokasi-toko-title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
          }

          i {
            margin-right: 8px;
          }
        }
      }

      // end card lokaso toko
      .card-progress {
        margin-top: 10px;

        .progress {
          width: 100%;
          height: 6px;
        }
      }

      // rating-toko
      .rating-toko {
        color: rgba(49, 53, 59, 0.68);
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;

        i {
          // color: gold;
          margin-right: 4px;
        }

        .rating-toko-number {
          display: flex;
          font-size: 0.85rem;
          color: rgba(49, 53, 59, 0.68);
          align-items: center;
          line-height: normal;
          height: 12px;
        }

        .rating-toko-pemisah {
          margin: 1px 4px 0px;
          height: 10px;
          width: 1px;
          background: rgba(49, 53, 59, 0.32);
        }

        .rating-toko-terjual {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-weight: normal;
          height: auto;
          line-height: normal;
          margin-bottom: 0px;
          padding: 0px;
          font-size: 0.85rem;
        }
      }
    }
  }
}



// Subscribe Newsletter
#bny-subscribe-newsletter {
  .bny-follow-media-sosial {
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      justify-content: center;

      li {
        list-style: none;

        a {
          position: relative;
          width: 40px;
          height: 40px;
          display: block;
          text-align: center;
          margin: 0 10px;
          border-radius: 50%;
          padding: 0;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-decoration: none;
          -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
          background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#fff));
          background: linear-gradient(0deg, #ddd, #fff);
          -webkit-transition: .5s;
          transition: .5s;

          &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            text-decoration: none;
          }

          .fab {
            width: 100%;
            height: 100%;
            display: block;
            background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#ddd));
            background: linear-gradient(0deg, #fff, #ddd);
            border-radius: 50%;
            font-size: 20px;
            color: #262626;
            line-height: 40px;
            -webkit-transition: .5s;
            transition: .5s;
          }
        }
      }
    }

    ul li:nth-child(1) a:hover .fab {
      color: #3b5998;
    }

    ul li:nth-child(2) a:hover .fab {
      color: #00aced;
    }

    ul li:nth-child(3) a:hover .fab {
      color: #dd4b39;
    }

    ul li:nth-child(4) a:hover .fab {
      color: #007bb6;
    }

    ul li:nth-child(5) a:hover .fab {
      color: #e4405f;
    }
  }

  .input-group {
    width: 50%;
    margin: 0 auto;
  }
}


// FOOTER
#bny-footers {

  .text-small {
    font-size: 0.9rem;
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    margin-top: 10px;
    display: block;

  }

  a:hover,
  a:focus {
    text-decoration: none;
  }

  .form-control {
    background: #212529;
    border-color: #545454;
  }

  .form-control:focus {
    background: #212529;
  }

  .img-jasa-pengiriman.bank-parner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }

  .img-jasa-pengiriman {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    img {
      background-color: transparent;
      border: none;
      width: 80%;
      margin-bottom: 10px;
    }
  }

}


// RESPONSIVE CODE

@media screen and (max-width: 552px) {
  .bny-banner-large .banner-small .large-poster {
    height: 130px;
  }

  body .bny-banner-large .carousel .carousel-item img {
    max-height: 220px !important;
    height: 220px !important;

  }

  h2 {
    font-size: 24px;
  }

  .bny-navbar-mobile {
    .bny-brand-mobile {
      img {
        width: 27% !important;
      }
    }
  }

  .bny-banner-large {
    margin-top: 10px;

    // .carousel-item {
    //   height: auto !important;
    // }

    body .bny-banner-large .carousel .carousel-item img {
      max-height: 220px !important;
      height: 220px !important;

    }

    .banner-small {
      .large-poster {
        max-height: 46vh;
        height: 150px;
        margin-bottom: 8px;
      }

      .small-poster {
        max-height: 20vh;
        height: auto;

      }

      img {
        width: 100%;
        background-size: cover;
        object-fit: cover;
        border-radius: 10px;

      }
    }
  }

  // services card
  .bny-card-services {
    margin-top: 0px;

    .mb-4 {
      margin-bottom: .1rem !important;
    }

    .card {
      margin-top: 15px;

    }
  }


  // BANNER -LARGE
  .bny-banner-large .carousel .carousel-control-prev {
    padding: 0px;
    width: 30px;
    height: 35px
  }

  .bny-banner-large .carousel .carousel-control-next {
    padding: 0px;
    width: 30px;
    height: 35px
  }

  .bny-banner-large .carousel .carousel-control-next .carousel-control-prev-icon {
    width: 20px;
    height: 20px;
  }

  .bny-banner-large .carousel .carousel-control-next .carousel-control-next-icon {
    width: 20px;
    height: 20px;
  }

  .all-product {
    .card-portrait {
      img {
        height: 220px !important;
      }
    }

    .col-lg-3 {
      display: block;
    }
  }

  // HIDE MOBILE MODE
  .bny-card-services {
    display: none;
  }


  // BNY PAGE AGEN PRODUK
  .bny-card-product {
    .bny-product-agen {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 992px) {

  // Dekstop
  .bny-navbar-dekstop,
  .bny-category-dekstop {
    display: none;
  }

  // Mobile
  .bny-navbar-mobile {
    display: block;

    .bny-menu-mobile {
      height: 0px;

      .label-menu {
        font-size: 17px;
        font-weight: 500;
        border-bottom: 1px solid #adb5bd;
        padding-bottom: 5px;
        margin-top: 17px;
      }
    }

    .bny-brand-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #b9bfc6;

      img {

        margin-left: 37px;
        margin-top: 7px;
        margin-bottom: 7px;
        width: auto;
      }

      .bny-menu-icon-mobile {
        margin-top: 7px;
        display: flex;
        justify-content: center;
        align-items: center;


        .sub-notification {
          position: relative;

          span {
            position: absolute;
            top: 0px;
            right: 0;
            background-color: red;
            color: white;
            padding: 3px;
            border-radius: 50%;
            font-size: small;
            line-height: 0.6;
            text-align: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
          }
        }

      }
    }

  }


  .bny-category-mobile {
    padding: 7px 0px;
    border-bottom: 1px solid #b9bfc6;

    #bny-category .dropdown:checked~.section-dropdown {
      width: 100% !important;

    }

    #bny-category {
      border-bottom: none !important;

      .judul-category-mobile {
        padding-left: 6px;
        font-size: 15px;
        font-weight: 500;
      }

      a {
        color: grey;
        font-size: 14px;
        padding: 1px 6px;
      }

      .section-dropdown {
        width: 100%;
        background-color: white;
        top: 32px;
        box-shadow: none !important;

        &:after {
          display: none;
        }
      }
    }

    .row {
      position: relative;

      .sec-center {
        position: static !important;
      }
    }

    .bny-link-mobile-navbar {
      a {
        font-size: 14px;
        font-weight: 600;
        color: black;
        text-decoration: none;
      }

      a.active {
        color: red;
      }
    }
  }

  .bny-card-services {
    margin-top: 0px;

    .card {
      margin-top: 15px;
    }
  }


  // utilities
  .container-mobile {
    width: 100% !important;
    max-width: 100% !important;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 768px) {
  .bny-banner-large .banner-small .large-poster {
    height: 152px;
  }

}